<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>jQuery EasyUI</title>
	<link rel="stylesheet" type="text/css" href="easyui/themes/bootstrap/easyui.css">
	<link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
	<link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script type="text/javascript" src="easyui/jquery.min.js"></script>
	<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="jquery.edatagrid.js"></script>
	<script type="text/javascript" src="easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript">
        $(function(){
            $('#ad').edatagrid({
                idField:'advId',
				url: '/Advertisment/ad_List',
				pagination:true,
				saveUrl:'/Advertisment/sava_Ad',
				updateUrl:'/Advertisment/sava_Ad',
				destroyUrl: '/Advertisment/del_Ad'
            });
        });
	</script>
	<style type="text/css">
		a{
			width: 50px;
			height: 30px;
		}
		#btnbox{
			height: 40px;
			padding: 10px;
		}
	</style>
</head>
<body>
<div id="container" class="easyui-layout">
	<div id="btnbox">
		<a href="#" class="easyui-linkbutton" onclick="javascript:$('#ad').edatagrid('addRow')"><i class="fa fa-plus"></i> 添加</a>
		<a href="#" class="easyui-linkbutton" onclick="javascript:$('#ad').edatagrid('saveRow')"><i class="fa fa-hdd-o"></i> 保存</a>
		<a href="#" class="easyui-linkbutton" onclick="javascript:$('#ad').edatagrid('cancelRow')"><i class="fa fa-times"></i> 取消</a>
		<a href="#" class="easyui-linkbutton" onclick="javascript:$('#ad').edatagrid('destroyRow')"><i class="fa fa-trash"></i> 删除</a>
	</div>

	<table id="ad" singleSelect="true">
		<thead>
		<tr>
			<th field="advId" width="100" editor="{type:'numberbox',options:{required:true}}">广告编号</th>
			<th field="advTitle" width="100" editor="text">标题</th>
			<th field="advPicUrl" width="200" editor="text">图片路径</th>
			<th field="advOffline" width="100" editor="{type:'validatebox',options:{required:true}}">是否禁用</th>
			<th field="advOrder" width="50" editor="numberbox">序号</th>
			<th field="advLinkUrl" width="200" editor="text">点击广告后跳转的地址</th>
			<th field="advCratetime" class="datebox"  width="200" editor="text">广告的创建时间</th>
			<th field="advUpdatetime" class="datebox"  width="200" editor="text">广告的修改时间</th>
		</tr>
		</thead>
	</table>
</div>

</body>
</html>