<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>Title</title>

	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
	<script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.js"></script>

	<script>
        $(document).ready(function () {
            $('#table').bootstrapTable({
                url: '/advertisement/list',
                striped:true,
                height:580,
                pagination:true,
                paginationLoop:false,
                pageSize:11,
                showRefresh:true,
                clickToSelect:true,
                search:true,
                toolbar:'#toolbar',
				onClickCell:function (field, value, row) {
                    if(field=="advPicUrl"){
                        $("#dataForm")[0].reset();
                        $("#fileForm")[0].reset();

                        $("#fileForm").attr('action',host()+"/uploadfile");
                        $("#dataForm").attr('action',host()+"/advertisement/update");
                        $("#picAdvId").val(row.advId);
                        $("#img").attr('src',value);
                        $("#picBox").modal('show');
                    }

                },
                onDblClickRow:function(row){
                    $("#title").text("编辑广告");
                    $("#submit").attr('class','btn btn-warning');
                    $("#submit").text("修改");
                    $("#form").attr('action',host()+'/advertisement/update');
                    $("#form")[0].reset();
                    $("#advId").val(row.advId);
                    $("#advTitle").val(row.advTitle);
                    $("#advPicUrl").val(row.advPicUrl);
                    $("#advOffline").val(row.advOffline);
                    $("#advLinkUrl").val(row.advLinkUrl);
                    $("#advCratetime").val(row.advCratetime);
                    $("#formBox").modal('show');
                },
                columns: [{
                    checkbox: true
                }, {
                    field: 'advId',
                    title: 'ID'
                }, {
                    field: 'advTitle',
                    title: '标题'
                }, {
                    field: 'advPicUrl',
                    title: '图片',
                    formatter:function (value,row) {
                        return "<img src='"+value+"' height='20px'></img>"
                    }
                }, {
                    field: 'advOffline',
                    title: '是否下线'
                }, {
                    field: 'advLinkUrl',
                    title: '跳转地址',
                    formatter:function (value,row) {
                        return "<a href='"+value+"'>点击跳转</a>"
                    }
                }, {
                    field: 'advCratetime',
                    title: '创建时间'
                }]
            });
            $('#remove').click(function () {if (confirm('确认删除吗')==true){

                var ids = $.map($('#table').bootstrapTable('getSelections'), function (row) {
                    return row.advId;
                });
                var json=JSON.stringify(ids);
                $.ajax({
                    type:'post',
                    url:host()+'/advertisement/remove',
                    contentType : 'application/json;charset=utf-8',
                    data : json
                });
                $('#table').bootstrapTable('remove', {
                    field: 'advId',
                    values: ids
                });

            }

            });
            $("#add").click(function () {
                $("#form")[0].reset();
                $("#title").text("新增广告");
                $("#submit").attr('class','btn btn-info');
                $("#submit").text("添加");
                $("#form").attr('action',host()+'/advertisement/add');

                $("#formBox").modal('show');
            });
            $("#submit").click(function () {
                $("#form").submit();
            });
            $("#checkAll").click(function () {
                $("#table").bootstrapTable('checkAll');
            });
            $("#uncheckAll").click(function () {
                $("#table").bootstrapTable('uncheckAll');
            });
            $("#choosePic").click(function () {
                $("#fileInput").click();
            });
            $("#setPic").click(function () {
                $("#fileForm").attr('action',host()+"/uploadfile");
                $("#fileInput").click();
            });
            $("#picSubmit").click(function () {
                $("#dataForm").submit();
            })
        });
        function upload(){
            $("#fileForm").ajaxSubmit({
                success:function (data) {
                    $("#picAdvPicUrl").val(data);
                    $("#advPicUrl").val(data);
                    $("#img").attr('src',data);
                    $("#picChoosen").attr('src',data);
                },
            });

        }
        function host() {
            return "http://"+window.location.host;
        }
	</script>
	<style>
		.container-fliud{
			margin: 0px 15px;
		}
	</style>
</head>
<body>
<div class="container-fliud">
	<div id="toolbar">
		<button id="checkAll" class="btn btn-default">全选</button>
		<button id="uncheckAll" class="btn btn-default">反选</button>
		<button id="remove" class="btn btn-danger">批量删除</button>
		<button id="add" class="btn btn-info">添加</button>
	</div>
	<table id="table"></table>

	<div id="formBox" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="title"></h4>
				</div>
				<div class="modal-body">
					<form id="form" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-1 control-label" >ID:</label>
							<div class="col-sm-2">
								<input name="advId" id="advId" type="text" class="form-control" readonly="readonly">
							</div>

							<label class="col-sm-2 control-label">标题:</label>
							<div class="col-sm-2">
								<input name="advTitle" id="advTitle" type="text" class="form-control">
							</div>

							<label class="col-sm-2 control-label">是否下线:</label>
							<div class="col-sm-2">
								<input name="advOffline" id="advOffline" type="number" class="form-control">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label ">跳转地址:</label>
							<div class="col-sm-10">
								<input name="advLinkUrl" id="advLinkUrl" type="text" class="form-control">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label ">创建时间:</label>
							<div class="col-sm-10">
								<input name="advCratetime" id="advCratetime" type="date" class="form-control">
							</div>
						</div>
						<input name="advPicUrl" id="advPicUrl" type="txet" style="display: none">
					</form>
				</div>
				<div class="modal-footer">
					<button id="setPic" class="btn btn-info pull-left">设置图片 <img id="picChoosen" height="20px" /></button>
					<button id="submit" type="button">提交</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>

	<div id="picBox" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title"></h4>
				</div>
				<div class="modal-body">
					<img id="img" class="img-thumbnail">
					<form id="fileForm" enctype="multipart/form-data"  method="post" style="display: none">
						<input name="fs" id="fileInput" type="file" onchange="upload()">
					</form>
					<form id="dataForm" style="display: none">
						<input name="advId" id="picAdvId" type="txet">
						<input name="advPicUrl" id="picAdvPicUrl" type="text">
					</form>
				</div>
				<div class="modal-footer">
					<button id="choosePic" class="btn btn-info pull-left">修改图片</button>
					<button id="picSubmit" class="btn btn-warning" type="button">提交</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>

</div>
</body>
</html>