<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.form/4.2.2/jquery.form.js"></script>

    <script>
    $(document).ready(function () {
        $('#table').bootstrapTable({
            url:'/article/list',
            striped:true,
            height:580,
            pagination:true,
            paginationLoop:false,
            pageSize:11,
            showRefresh:true,
            clickToSelect:true,
            search:true,
            toolbar:'#toolbar',
            onClickCell:function (field, value, row) {
                if(field=="articlePicUrl"){
                    $("#dataForm")[0].reset();
                    $("#fileForm")[0].reset();

                    $("#fileForm").attr('action',host()+"/upload");
                    $("#dataForm").attr('action',host()+"/article/update");
                    $("#picArticleId").val(row.articleId);
                    $("#img").attr('src',host()+"/pic/"+value);
                    $("#picBox").modal('show');
                }

            },
            onDblClickRow:function(row){
                $("#title").text("编辑该纪录");
                $("#submit").attr('class','btn btn-warning');
                $("#submit").text("修改");
                $("#form").attr('action',host()+'/article/update');
                $("#form")[0].reset();
                $("#articleId").val(row.articleId);
                $("#articleTitle").val(row.articleTitle);
                $("#articlePicUrl").val(row.articlePicUrl);
                $("#articleContent").val(row.articleContent);
                $("#amountOfReading").val(row.amountOfReading);
                $("#formBox").modal('show');
            },
            columns: [{
                checkbox: true
            }, {
                field: 'articleId',
                title: 'ID'
            }, {
                field: 'articleTitle',
                title: '标题'

            }, {
                field: 'articlePicUrl',
                title: '图片',
                formatter:function (value,row) {
                    return "<img src='" + host() + "/pic/" +value+"' height='20px'></img>"
                }
            }, {
                field: 'articleContent',
                title: '内容'
            }, {
                field: 'amountOfReading',
                title: '点击量'
            }, {
                field: 'articleShow',
                title: '允许显示'
            }]
        });
        $('#remove').click(function () {
            var ids = $.map($('#table').bootstrapTable('getSelections'), function (row) {
                return row.articleId;
            });
            var json=JSON.stringify(ids);
            $.ajax({
                type:'post',
                url:host()+'/article/remove',
                contentType : 'application/json;charset=utf-8',
                data : json
            });
            $('#table').bootstrapTable('remove', {
                field: 'articleId',
                values: ids
            });
        });
        $("#add").click(function () {
            $("#form")[0].reset();
            $("#title").text("添加新纪录");
            $("#submit").attr('class','btn btn-info');
            $("#submit").text("添加");
            $("#form").attr('action',host()+'/article/add');

            $("#formBox").modal('show');
        });
        $("#submit").click(function () {
            $("#form").submit();
        });
        $("#checkAll").click(function () {
            $("#table").bootstrapTable('checkAll');
        });
        $("#uncheckAll").click(function () {
            $("#table").bootstrapTable('uncheckAll');
        });

        $("#choosePic").click(function () {
            $("#fileInput").click();
        })
        $("#picSubmit").click(function () {
            $("#dataForm").submit();
        })
    });
    function upload(){
        $("#fileForm").ajaxSubmit({
            success:function (data) {
                $("#picArticlePicUrl").val(data);
                $("#img").attr('src',host()+"/pic/"+data);
            },
        });

    }
    function host() {
        return "http://"+window.location.host;
    }
    </script>
    <style>
        .container-fliud{
            margin: 0px 15px;
        }
    </style>
</head>
<body>
<div class="container-fliud">
    <div id="toolbar">
        <button id="checkAll" class="btn btn-default">全选</button>
        <button id="uncheckAll" class="btn btn-default">反选</button>
        <button id="remove" class="btn btn-danger">批量删除</button>
        <button id="add" class="btn btn-info">添加</button>
    </div>
    <table id="table"></table>

    <div id="formBox" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="title"></h4>
            </div>
            <div class="modal-body">
                <form id="form" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-1 control-label" >ID:</label>
                        <div class="col-sm-2">
                            <input name="articleId" id="articleId" type="text" class="form-control">
                        </div>

                        <label class="col-sm-2 control-label">点击量:</label>
                        <div class="col-sm-2">
                            <input name="amountOfReading" id="amountOfReading" type="text" class="form-control">
                        </div>

                        <label class="col-sm-2 control-label">允许显示:</label>
                        <div class="col-sm-2">
                            <input name="articleShow" id="articleShow" type="text" class="form-control">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-2 control-label ">标题:</label>
                        <div class="col-sm-10">
                            <input name="articleTitle" id="articleTitle" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">内容:</label>
                        <div class="col-sm-10">
                            <textarea name="articleContent" id="articleContent" type="text" class="form-control"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="submit" type="button">提交</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
            </div>
        </div>
        </div>
    </div> <!--box-->

    <div id="picBox" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <img id="img" class="img-thumbnail">
                    <form id="fileForm" enctype="multipart/form-data"  method="post" style="display: none">
                        <input name="pic" id="fileInput" type="file" onchange="upload()">
                    </form>
                    <form id="dataForm" style="display: none">
                        <input name="articleId" id="picArticleId" type="txet">
                        <input name="articlePicUrl" id="picArticlePicUrl" type="text">
                    </form>
                </div>
                <div class="modal-footer">
                    <button id="choosePic" class="btn btn-info pull-left">修改图片</button>
                    <button id="picSubmit" class="btn btn-warning" type="button">提交</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div> <!--box-->


</div>
</body>
</html>