<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>manager</title>

    <link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
    <script type="text/javascript" src="easyui/jquery.min.js"></script>
    <script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="easyui/locale/easyui-lang-zh_CN.js"></script>

    <script type="text/javascript" src="jquery.edatagrid.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#tt').edatagrid({
                idField: 'catId',
                url: '/category/pageList',
                pagination: true,
                fitColumns: true,
                title: "分类管理",
                toolbar: '#btnbox',

                saveUrl: '/memberinfo/saveMember',
                updateUrl: '/memberinfo/saveMember',
                destroyUrl: '/memberinfo/deleteMember',
            });
            $('#tt').datagrid('reload');
        });

        function level(value, row, index) {
            if (value == 0) {
                return "一级分类";
            }
            else if (value == 1) {
                return "二级分类";
            }
            else if (value == 2) {
                return "三级分类";
            }
        }
        function offline(value, row, index) {
            if (value == 1) {
                return "启用";
            }
            else if (value == 0) {
                return "禁用";
            }
        }
    </script>
</head>
<body>
<h1>分类管理</h1>
<div id="container" class="easyui-layout">
    <div id="btnbox">
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add',plain:true"
           onclick="javascript:$('#tt').edatagrid('addRow')"> 添加</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save',plain:true"
           onclick="javascript:$('#tt').edatagrid('saveRow')"> 保存</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true"
           onclick="javascript:$('#tt').edatagrid('cancelRow')"> 取消</a>
        <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-cancel',plain:true"
           onclick="javascript:$('#tt').edatagrid('destroyRow')"> 删除</a>
    </div>

    <table id="tt" width="100%" singleSelect="true">
        <thead>
        <tr>
            <th field="catId" editor="text">ID</th>
            <th field="parentId" formatter="level" editor="{type:'textbox',options:{required:true}}">分类等级</th>
            <th field="catName" editor="text">名字</th>
            <th field="sort" sortable="true">排序</th>
            <th field="isOffline" formatter="offline" editor="text">是否启用</th>
            <th field="createdTime" editor="text">创建时间</th>
            <th field="updatedTime" editor="text">更新时间</th>
        </tr>
        </thead>
    </table>
</div>
</body>
</html>