<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>jQuery EasyUI</title>

	<link rel="stylesheet" type="text/css" href="easyui/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="easyui/themes/icon.css">
	<script type="text/javascript" src="easyui/jquery.min.js"></script>
	<script type="text/javascript" src="easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="easyui/locale/easyui-lang-zh_CN.js"></script>

	<script type="text/javascript" src="jquery.edatagrid.js"></script>

	<script type="text/javascript">
		$(function(){
			$('#tt').edatagrid({
                    url: '/memberinfo/list',
					saveUrl: '',
					updateUrl: '',
					destroyUrl: ''
			});
		});
	</script>
</head>
<body>
	<h1>XX管理</h1>
	<div style="margin-bottom:10px">
		<a href="#" class="easyui-linkbutton" onclick="javascript:$('#tt').edatagrid('addRow')">添加</a>
		<a href="#" class="easyui-linkbutton" onclick="javascript:$('#tt').edatagrid('saveRow')">保存</a>
		<a href="#" class="easyui-linkbutton" onclick="javascript:$('#tt').edatagrid('cancelRow')">取消</a>
		<a href="#" class="easyui-linkbutton" onclick="javascript:$('#tt').edatagrid('destroyRow')">删除</a>
	</div>
	<table id="tt" style="width:600px;height:200px"
			title="Editable DataGrid"

			singleSelect="true">
		<thead>
			<tr>
				<th field="memberId" width="100">ID</th>
				<th field="memberMobile" width="200" editor="text">手机号</th>
				<th field="memberName" width="100" editor="text">名字</th>
				<th field="memberPasswd" width="100" editor="text">密码</th>
			</tr>
		</thead>
	</table>
</body>
</html>