<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>Title</title>

	<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>

	<script>
        $(document).ready(function () {
            $('#list').bootstrapTable({
                striped:true,
                columns: [{
                    field: 'recId',
                    title: 'ID',
                    width: 100
                }, {
                    field: 'goodsId',
                    title: '商品id',
                    width: 200

                }, {
                    field: 'goodsName',
                    title: '名称',
                    width: 100
                }, {
                    field: 'goodsPrice',
                    title: '价格',
                    width: 100,
                    formatter:function (value) {
                        return value+"元";
                    }
                }, {
                    field: 'goodsNum',
                    title: '数量',
                    width: 100,
                }, {
                    field: 'goodsPayPrice',
                    title: '实际成交价',
                    width: 100
                }]
            });

            $('#table').bootstrapTable({
                url: '/order/list',
                striped:true,
                height:580,
                pagination:true,
                paginationLoop:false,
                pageSize:11,
                showRefresh:true,
                clickToSelect:true,
                search:true,
                toolbar:'#toolbar',
				onClickCell:function (field, value, row) {
                    if(field=="list"){
                        $.get('/order/goodslist?orderSn='+row.orderSn,function (data) {
                            $('#list').bootstrapTable('load', data)
                        });
                        $("#listBox").modal('show');
                    }

                },
                onDblClickRow:function(row){
                    $("#title").text("编辑订单");
                    $("#submit").attr('class','btn btn-warning');
                    $("#submit").text("修改");
                    $("#form").attr('action',host()+'/order/update');
                    $("#form")[0].reset();
                    $("#orderId").val(row.orderId);
                    $("#orderSn").val(row.orderSn);
                    $("#buyerId").val(row.buyerId);
                    $("#addTime").val(row.addTime);
                    $("#paymentCode").val(row.paymentCode);
                    $("#finnshedTime").val(row.finnshedTime);
                    $("#orderAmount").val(row.orderAmount);
                    $("#orderState").val(row.orderState);
                    $("#formBox").modal('show');
                },
                columns: [{
                    checkbox: true
                }, {
                    field: 'orderId',
                    title: 'ID',
                    width: 100
                }, {
                    field: 'orderSn',
                    title: '订单编号',
                    width: 200

                }, {
                    field: 'buyerId',
                    title: '买家ID',
                    width: 100
                }, {
                    field: 'orderAmount',
                    title: '总价格',
                    width: 100,
                    formatter:function (value) {
                        return value+"元";
                    }
                }, {
                    field: 'orderState',
                    title: '订单状态',
                    width: 100,
                    formatter:function (value) {
                        if(value==0) return "已取消";
                        else if(value==10) return "未付款";
                        else if(value==20) return "已付款";
                        else if(value==30) return "已发货";
                        else if(value==40) return "已收货";
                        else return "（未知代码）";

                    }
                }, {
                    field: 'paymentCode',
                    title: '支付代码',
                    width: 100
                }, {
                    field: 'addTime',
                    title: '下单时间',
                    width: 150
                }, {
                    field: 'finnshedTime',
                    title: '完成时间',
                    width: 150
                }, {
                    field: 'list',
                    title: '',
                    align: "center",
					formatter:function () {
                        return "<span class='glyphicon glyphicon-list'> 查看清单</span>"
						
                    }
                }]
            });
            $('#remove').click(function () {
                var ids = $.map($('#table').bootstrapTable('getSelections'), function (row) {
                    return row.orderId;
                });
                var json=JSON.stringify(ids);
                $.ajax({
                    type:'post',
                    url:host()+'/order/remove',
                    contentType : 'application/json;charset=utf-8',
                    data : json
                });
                $('#table').bootstrapTable('remove', {
                    field: 'orderId',
                    values: ids
                });
            });
            $("#add").click(function () {
                $("#form")[0].reset();
                $("#title").text("新增订单");
                $("#submit").attr('class','btn btn-info');
                $("#submit").text("添加");
                $("#form").attr('action',host()+'/order/add');

                $("#formBox").modal('show');
            });
            $("#submit").click(function () {
                $("#form").submit();
            });
            $("#checkAll").click(function () {
                $("#table").bootstrapTable('checkAll');
            });
            $("#uncheckAll").click(function () {
                $("#table").bootstrapTable('uncheckAll');
            });
        });
        function host() {
            return "http://"+window.location.host;
        }
	</script>
	<style>
		.container-fliud{
			margin: 0px 15px;
		}
	</style>
</head>
<body>
<div class="container-fliud">
	<div id="toolbar">
		<button id="checkAll" class="btn btn-default">全选</button>
		<button id="uncheckAll" class="btn btn-default">反选</button>
		<button id="remove" class="btn btn-danger">批量删除</button>
		<button id="add" class="btn btn-info">添加</button>
	</div>
	<table id="table"></table>

	<div id="formBox" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="title"></h4>
				</div>
				<div class="modal-body">
					<form id="form" class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-1 control-label" >ID:</label>
							<div class="col-sm-2">
								<input name="orderId" id="orderId" readonly="readonly" type="text" class="form-control">
							</div>

							<label class="col-sm-2 control-label">订单编号:</label>
							<div class="col-sm-3">
								<input name="orderSn" id="orderSn" type="number" class="form-control">
							</div>

							<label class="col-sm-2 control-label">买家ID:</label>
							<div class="col-sm-2">
								<input name="buyerId" id="buyerId" type="number" class="form-control">
							</div>
						</div>

						<div class="form-group">
							<label class="col-sm-2 control-label ">下单时间:</label>
							<div class="col-sm-10">
								<input name="addTime" id="addTime" type="date" class="form-control">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">完成时间:</label>
							<div class="col-sm-10">
								<input name="finnshedTime" id="finnshedTime" type="date" class="form-control"></input>
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label">总价格:</label>
							<div class="col-sm-3">
								<input name="orderAmount" id="orderAmount" type="number" class="form-control"></input>
							</div>

							<label class="col-sm-2 control-label">订单状态:</label>
							<div class="col-sm-4">
								<select name="orderState" id="orderState" type="text" class="form-control">
									<option value="0">已取消</option>
									<option value="10">未付款</option>
									<option value="20">已付款</option>
									<option value="30">已发货</option>
									<option value="40">已收货</option>
								</select>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button id="submit" type="button">提交</button>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
				</div>
			</div>
		</div>
	</div>


	<div id="listBox" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">订单详细清单</h4>
				</div>
				<div class="modal-body">
				<table id="list"></table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>



</div>
</body>
</html>